<!doctype html>
<html lang= 'en'>
	<head>
		<meta charset='utf-8'>
		<title>Running Backs</title>
	</head>
		<body>
			<nav>
				<ul>
					<li><a href='/'>Home</a></li>
					<li><a href='/backs/new'>New Back</a></li>
					<li><a href='/backs'>Backs</a></li>
				</ul>
			</nav>
	
			<%= yield%>
		
		</body>	 
</html>













<!-- 
<html>
<head>
<title>Running Backs</title>
	<style>
    	body {
    		text-align: center;
/*    		<img src=public/images/NFL_Combine.png/>
*//*			background: url("/images/NFL_Combine.png");
*/			background-image:url('public/images/NFL_Combine.png');
 	     	background-size: cover; /*prevents background image from appearing tiled*/
	   		background-position: center; /*centers background image on the page*/
/*	   		background-color: #cccccc;
*/		}  			 	
    </style> 
</head>

  		
	<body>
		# <%= xyieldx%>
	</body>	 

</html> -->