<form method='post' action='/backs/<%= @back_id %>/create_test'> 

 	<div>
		<label>Grade:</label>
		<input type='text' name='test[grade]' autofocus/>
	</div>

	<div>
		<label>Forty Yard Dash:</label>
		<input type='text' name='test[forty_dash]'/>	</div>
	<div>
		<label>Bench Press:</label>
		<input type='text' name='test[bench_press]'/>	</div>
	<div>
		<label>Vertical Jump:</label>
		<input type='text' name='test[vertical_jump]'/>	</div>	

	<div>
		<label>Broad Jump:</label>
		<input type='text' name='test[broad_jump]'/>	</div>
	</div>	

	<button>Add Test</button>

</form>


	
